<h1>Hola Angular 17 desde {{ city.toLowerCase() }}</h1>
<app-user></app-user>
<div>
    <br>
    <article>
        App Component Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit laboriosam laudantium temporibus autem animi pariatur magni excepturi perspiciatis eligendi, blanditiis culpa beatae a eum assumenda ducimus nisi, debitis incidunt dolores. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum velit architecto officiis necessitatibus et maxime quidem at nostrum quibusdam odio adipisci ipsa iste tenetur recusandae laborum magnam, ab officia ipsum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, voluptatum voluptates. Libero, in repudiandae ipsum commodi quam harum? Iste odio dicta eius voluptatem laboriosam quasi beatae est soluta libero quod. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore debitis, harum iusto soluta, esse ullam totam repellat placeat dolorum laborum dolor temporibus. Laboriosam laudantium incidunt tempora amet quae quia dolore!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, minima laboriosam debitis recusandae impedit expedita, amet, aspernatur distinctio enim ipsam repellendus nostrum quod magnam animi! Iste corrupti voluptatum quam ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam illo corporis dolor mollitia eligendi eum similique fugit autem, necessitatibus, debitis quas reiciendis! Delectus expedita rerum porro maiores, atque architecto optio?
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, minima laboriosam debitis recusandae impedit expedita, amet, aspernatur distinctio enim ipsam repellendus nostrum quod magnam animi! Iste corrupti voluptatum quam ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, omnis. Vel, quod, voluptatum itaque minus, accusantium earum corporis et suscipit nemo sunt voluptate reiciendis magnam praesentium maxime aut fuga quam.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, minima laboriosam debitis recusandae impedit expedita, amet, aspernatur distinctio enim ipsam repellendus nostrum quod magnam animi! Iste corrupti voluptatum quam ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate ipsam asperiores aperiam. Tempora, aut voluptatum obcaecati cupiditate nobis tenetur saepe beatae inventore! Rem accusantium iusto animi nulla blanditiis ex? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod alias, aspernatur laborum officia tempora ad, omnis voluptatem modi atque dolorum dicta nihil ex vero consequatur nemo, natus eius voluptas nisi.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, minima laboriosam debitis recusandae impedit expedita, amet, aspernatur distinctio enim ipsam repellendus nostrum quod magnam animi! Iste corrupti voluptatum quam ipsam! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam hic dignissimos dolorem, cumque fuga optio aut eveniet odio porro. Consectetur odio cum expedita tenetur assumenda corporis sint harum rem maxime. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit ullam pariatur quasi quod tenetur tempore aliquam dignissimos dolorem repellendus quia sapiente, deserunt magnam molestias. Quas enim exercitationem corrupti consectetur vel! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deleniti eaque veniam impedit possimus aspernatur at unde sapiente quia perferendis numquam repudiandae hic maiores libero odio, voluptate aliquid eligendi. Cumque!
    </article>

    @defer (on viewport) {
        <app-comments></app-comments>
    } @placeholder {
        <p>.</p>
    } @loading (minimum 1s) {
        <p>Cargando...</p>
    }
</div>

<!-- <router-outlet></router-outlet> -->
